<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOCOMD || About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="Alex Corkin: www.4lex.nz"/>
    <!-- css -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <!--<link href="css/jcarousel.css" rel="stylesheet"/>-->
    <link href="css/flexslider.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <!-- Theme skin -->
    <link href="skins/default.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

</head>
<body>

<div id="aboutWrapper">

    <header>
        <div class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>S</span>OCOMD</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">About Us <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutUs#who">Who are we?</a></li>
                                <li><a href="aboutUs#serious">How Serious are we?</a></li>
                                <li><a href="aboutUs#when">When do we Play?</a></li>
                                <li><a href="recruitment#signup">How do I sign up?</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Unit Structure <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="unitStructure">Structure Overview</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure">SOCOMD HQ</a></li>
                                <li><a href="unitStructure">J1: Administration</a></li>
                                <li><a href="unitStructure">J2: Intelligence</a></li>
                                <li><a href="unitStructure">J3: Operations</a></li>
                                <li><a href="unitStructure">J4: Logistics</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure">2nd Commando Regiment</a></li>
                                <li><a href="unitStructure">171st Aviation Regiment</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure">Awards and Recognition</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Recruitment <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="recruitment">Application Form</a></li>
                                <li><a href="recruitment">Successful Applicatants </a></li>
                                <li><a href="recruitment">Probation and Behaviour</a></li>
                                <li><a href="recruitment">Reserves Regiment Policy</a></li>
                                <li><a href="recruitment">Contact Us</a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio">Media</a></li>
                        <li><a href="blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="row section-1">
        <div class="col-sm-2 col-md-2"></div>
        <div id="who" class="col-sm-8 col-md-8 section">
            <h1 class="text-center">Who are we?</h1>

            <img src="img/About-Us-1024x463.jpg" class="center">

            <h2 class="text-center">Mission Statement</h2>

            <p>"To provide a fun, realistic and authentic Australian ArmA MILSIM experience whilst building a fair,
                persistent and active community of mature gamers."</p>

            <h3 class="text-center">Our Vision</h3>

            <p>SOCOMD, as an ArmA III gaming community, aims to provide members with the most authentic Australian
                MILSIM experience by emulating the organisational structure, training methods and planning procedures
                utilised by actual military forces. Every member will be proficiently trained, according to their rank,
                to follow standard operating procedures that are realistic, adjusted for ArmA III and have been reviewed
                by former military personnel.</p>

            <h3 class="text-center">Who are We?</h3>

            <p>Special Operations Command (SOCOMD) is an Australian based ArmA realism unit that is structured around
                the Commando Regiment of the Australian Defence Force. SOCOMD specialises largely in COOP, with the
                exception of some TvT, ArmA gameplay, utilising equipment, strategies and tactics based on those
                employed by the Australian Military.</p>

            <p>In other words, we don't refer to each other by our ranks or salute the Officers amongst us when we are
                in-game but we do hold it in high regard and respect, following these customs is purely optional. We do
                however, pride ourselves on maintaining a fun, immersive and authentic ArmA gaming experience - yes,
                this means that good old fashioned Aussie banter is welcome, but when the bullets start flying, it's
                time to get our A-Game on.</p>

            <p>With SOCOMD's founder being a former member of the RAAF's Airfield Defence Guards (ADG's), and other
                members having either served previously or are currently serving in the Australian Defence Force, this
                is the unit for you if you want an immersive and authentic Australian ArmA gaming experience. Head over
                to our media section to get a feel for what we are about, and what it is like to play ArmA with
                us.</p>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>

    <div class="row section-2">
        <div class="col-sm-2 col-md-2"></div>
        <div id="serious" class="col-sm-8 col-md-8">
            <h2 class="text-center">How serious are you?</h2>

            <div id="subcol-1" class="col-sm-6 col-md-6">
                <p>SOCOMD is an Australian online digital combat unit that is based on the actual military structure and
                    ranking system of the ADF. We take pride in every aspect of our member selection, training, planning
                    and operations. Our highest priority at SOCOMD is to ensure that all of us devote ourselves towards
                    running and/or participating this MILSIM unit, and give as much dedication as we possibly can.
                    Consequently, <span>we are very serious</span> about certain aspects.</p>

                <p>SOCOMD takes great pride in emulating the structure of the Australian Defence Force and takes it very
                    seriously and methodically. The Rank Structure we employ assists us in identifying senior members
                    (Officers and NCOs) who are appropriately trained and qualified to take up certain roles such as a
                    Platoon Commander or a Section Commander in-game. The TeamSpeak appointments that they hold
                    demonstrate their assigned administrative roles within the unit's back end work.</p>

                <p>The Rank Structure is used in a way that it emphasises the MILSIM experiences within SOCOMD. Just
                    like in the real ADF, we need to follow orders in battle in order to accomplish the missions.
                    Without proper chain of command, subordination and coordination between different levels of
                    operation within a Theatre of Operation, a campaign or mission can result in a catastrophic failure.
                    Therefore, it is imperative that the ORBAT is adhered to, and to achieve that, everyone needs to
                    strictly obey the chain of command/rank system. We also use the rank system to distinguish senior
                    members who are allocated to administrative roles and they are expected to keep the unit running
                    smoothly in regards to their fields of expertise.</p>

                <p>Realism is a big thing in SOCOMD and we strive to offer every member the sense of immersion by
                    creating a modern combat environment, using all the structures, and operating techniques that are
                    available, along with very strict and detailed Zeus doctrines to guide the Zeus operators towards
                    realistic, exciting and yet sensible operations.</p>

                <p>During operations, every SOCOMD operator is expected to behave maturely, and "role play" as an ADF
                    soldier, using the skills and techniques that he learnt to work in a team based environment. He must
                    employ those skills during operations in order to perform with a sense of seriousness towards
                    immersion within our MILSIM unit.</p>

                <p>Community is one of our Core Values within SOCOMD. Therefore, SOCOMD's HQ and Joint Staff Sections
                    have taken a liberal stance with the way the community is run and during Community Round Table
                    events, we are always willing to listen to suggestions, whether those suggestions relate to new and
                    interesting developments that have potential application within SOCOMD, or even on how things can be
                    done better, every members opinion is valued. We will consider and decide all suggestions based on
                    operational requirements, back end work load for HQ JSS departments, client side feasibility, server
                    stress load, realism level, and compatibility with other mods.</p>

                <p>Regular "Community Round Table" events are held to ensure any member can have their voice heard, and
                    given enough support from their fellow community members, their ideas, wants or needs can help shape
                    SOCOMD into the unit it will be in the future. Every member is given a fair go at their turn in
                    order for them to voice their ideas and concerns, in the name of MILSIM and realism. HQ will
                    evaluate all suggestions based on our Mission Statement and if approved, a Joint Staff Section will
                    be assigned to the task and then gets further approved with their plan. Finally 2CDO CO/OC will then
                    implement the procedures.</p>
            </div>
            <div id="subcol-2" class="col-sm-6 col-md-6">
                <p>SOCOMD prides itself on being a "MILSIM unit", and that starts with training. Everything we do here
                    in SOCOMD is based on real life situations in relations to candidate selection, training process and
                    deployment procedures. First of all, only suitable candidates who possess the right mentality,
                    maturity and focus will be selected, after going through our Candidate Selection Process
                    (questionnaires and a formal interview), as part of our SOCOMD recruitment program.</p>

                <p>Secondly, each successful and privileged recruit must remember that by joining SOCOMD, he will be
                    seen as an emulated special forces soldier within SOCOMD, and need to maintain his focus in
                    preparing himself to become a versatile, and combat ready, all round operator according to SOCOMD's
                    operational requirements. In response to that, every recruit will go through a rigorous basic
                    training program which includes theoretical self learning then practical training sessions that
                    enable their readiness at an outstanding level, after they are formally inducted and received their
                    Rank of Recruit. This training program will simulate the real life ADF Recruitment Training and the
                    2CDO's Reinforcement Training programs, which consists of but not limited to the following in the
                    same categories:</p>
                <ul>
                    <li>Basic Field Craft;</li>
                    <li>Advanced Weapons Course;</li>
                    <li>Advanced Close Quarter Battle Course;</li>
                    <li>Commando Urban Operations Course;</li>
                    <li>Commando Vehicle Course;</li>
                    <li>Commando Amphibious Operators Course;</li>
                    <li>Special Forces Demolitions Course;</li>
                    <li>Special Forces Basic Parachute Course;</li>
                    <li>Special Forces Military Roping Course; and</li>
                    <li>Combat First Aiders Course.</li>
                </ul>
                <p>Every trainee is expected to pass the basic training program, provided that he remains focused and
                    dedicated during his training period, which directly dictates the length of it. During his training
                    period, he can still join our Unofficial Operations on Saturday and Sunday Nights, provided that he
                    has completed the Primary Part of our basic training program. Once he completes the Primary Part, he
                    will receive his "1CDO Unit Patch" and will be assigned to our 1st Commando Regiment. During
                    operations, most likely he will need a senior member to help him sometimes with certain in game
                    actions/tactics, since he hasn't been taught/exposed to those elements of the
                    training/operation.</p>

                <p>Upon completion of the entire basic training program, the trainee will be promoted to the rank of
                    Private. From there, he is deemed fully combat ready and tactically operational, and can also attend
                    our Friday Night Official Operations, without the need to receive any assistance in our operations.
                    If he can attend all or most operations weekly (especially Friday Night Official Operations), he is
                    then eligible to be assigned to our dedicated and unique 2nd Commando Regiment, and receive his
                    "2CDO Unit Patch". He can also complete subsequent promotional courses and obtain higher ranks when
                    positions become available.</p>

                <p>Our Official Operation on Friday night is the most important event for our unit. Every dedicated
                    members should make an effort to attend this official operation as a SOCOMD operator. The members
                    who are able to constantly attend these operations may be enrolled into our 2CDO Regiment, to
                    indicate his persistence and activity. For members who wish to advance further up the chain of
                    command, it is highly advised that they should make themselves more active within SOCOMD and
                    attending our official operations. Also, active members will be placed into sections where they can
                    get familiar and comfortable with other operators within that section and operate together as a
                    fixed section on official operation nights. This will enable them being more efficient and reduce
                    any real time tactical inconsistency. It also simulates a private being posted to a unit and
                    assigned to a section to work with his team mates all the time.</p>

                <p>Operation-wise, we use realistic and authentic ADF assets to the best of our abilities within Arma 3.
                    This is to again to promote realism and immersion. We stay away from items that obtain "over the
                    top" capabilities such as the CAS Greyhawk and AC-130 ground attack gunship, in order to maintain a
                    sense of strategic sustainability and tactical balance. We will always plan and operate missions
                    with a vision of the availability of modern weapons and assets, in relations to the situation and
                    the theatre of operation. Before each mission starts, operators are being briefed with a run down of
                    a military style SMEAC to inform them of various elements within the mission. After the completion
                    of each mission, a post-mission debrief is carried out to summarise the teams' overall conduct, as
                    well as on an individual basis if needed. This is to further improve our tactical procedures and
                    possibly mends any loop holes that can improve our future operations.</p>
            </div>


        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>

    <div class="row section-3">
        <div class="col-sm-2 col-md-2"></div>
        <div id="when" class="col-sm-8 col-md-8">
            <h2 class="text-center">When do you play?</h2>

            <div id="when-subcol-1" class="col-sm-6 col-md-6">
                <h3>Here's a breakdown of our week:</h3>

                <ul>
                    <ul style="padding-bottom: 5%"><p><b>Monday Night - Server Maintenance/Other Games.</b></p>
                        <li>Usually no activities, it is reserved for server and mod maintenance.</li>
                        <li>Depending on the availability of SOCOMD's Officers, training or operations can be held on
                            request.
                        </li>
                        <li>Members like to get on and play other games with each other.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Tuesday Night - Server Maintenance/Other Games.</b></p>
                        <li>Usually no activities, it is reserved for server and mod maintenance.</li>
                        <li>Depending on the availability of SOCOMD's Officers, training or operations can be held on
                            request.
                        </li>
                        <li>Members like to get on and play other games with each other.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Wednesday Night - Training Night</b></p>
                        <li>Beginning 8:00 PM (AEDT).</li>
                        <li>Concluding when training is complete.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Thursday Night - Training Night</b></p>
                        <li>Beginning 8:00 PM (AEDT).</li>
                        <li>Concluding when training is complete.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Friday Night - Official Operation - Deployment Campaign</b></p>
                        <li>Begins 9:00pm (AEDT). Be on teamspeak 15 miutes before start.</li>
                        <li>Concludes with a debrief.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Saturday Night - Unofficial Operations</b></p>
                        <li>Begins 9:00pm (AEDT). Be on teamspeak 15 miutes before start.</li>
                        <li>Concludes once you've had enough.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Sunday Night - Unofficial Operations</b></p>
                        <li>Begins 9:00pm (AEDT). Be on teamspeak 15 miutes before start.</li>
                        <li>Concludes once you've had enough.</li>
                    </ul>
                </ul>
            </div>
            <div id="when-subcol-2" class="col-sm-6 col-md-6">
                <h3>What if I can't make the scheduled training or mission timees?</h3>

                <p>If you have the time, come and hang-out with us on TeamSpeak, there is usually always something
                    entertaining going on. If there's something in particular you would like to do, simply find someone
                    in the Commando Regiments with the rank of Lieutenant or above, or any of HQ J sections, or a member
                    of SOCOMD's Training Staff, and ask them to organise something, such as training or a mission.</p>
                <img src="img/When-do-u-play.jpg" style="padding-bottom: 5%">

                <p>It is important to note that all of our operations and training courses are scheduled through our
                    Steam Group Calendar to account for variations in time zones, so be sure to keep an eye on it to
                    know exactly when events are scheduled.</p>

                <div id="signup">
                    <h2 class="text-center">Sign Up</h2>

                    <div class="button-center">
                        <button type="button" class="btn btn-primary" data-toggle="button"
                                aria-pressed="false">Start Enlistment!
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>


</div>

<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>

</body>
</html>