<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOCOMD || About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="Alex Corkin: www.4lex.nz"/>
    <!-- css -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <!--<link href="css/jcarousel.css" rel="stylesheet"/>-->
    <link href="css/flexslider.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <!-- Theme skin -->
    <link href="skins/default.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

</head>
<body>

<div id="aboutWrapper">

    <header>
        <div class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>S</span>OCOMD</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">About Us <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutUs#who">Who are we?</a></li>
                                <li><a href="aboutUs#serious">How Serious are we?</a></li>
                                <li><a href="aboutUs#when">When do we Play?</a></li>
                                <li><a href="recruitment#signup">How do I sign up?</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Unit Structure <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="unitStructure">Structure Overview</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure#HQ-Tree">SOCOMD HQ</a></li>
                                <li><a href="unitStructure#HQ-Tree">J1: Administration</a></li>
                                <li><a href="unitStructure#HQ-Tree">J2: Intelligence</a></li>
                                <li><a href="unitStructure#HQ-Tree">J3: Operations</a></li>
                                <li><a href="unitStructure#HQ-Tree">J4: Logistics</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure#CDO-Tree">2nd Commando Regiment</a></li>
                                <li><a href="unitStructure#AirTree">171st Aviation Regiment</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Recruitment <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="recruitment#joining">Joining the Unit</a></li>
                                <li><a href="recruitment#success">Successful Applicants</a></li>
                                <li><a href="recruitment#probation">Probation and Behaviour</a></li>
                                <li><a href="recruitment#form">Application Form</a></li>
                            </ul>
                        </li>
                        <li><a href="media">Media</a></li>
                        <li><a href="blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="row section-1">
        <div class="col-sm-2 col-md-2"></div>
        <div id="who" class="col-sm-8 col-md-8 section">
            <h1 class="text-center">Who are we?</h1>

            <img src="img/About-Us-1024x463.jpg" class="center">

            <h2 class="text-center">Mission Statement</h2>

            <p>"To provide a fun, realistic and authentic Australian ArmA MILSIM experience whilst building a fair,
                persistent and active community of mature gamers."</p>

            <h3 class="text-center">Our Vision</h3>

            <p>SOCOMD, as an ArmA III gaming community, aims to provide members with the most authentic Australian
                MILSIM experience by emulating the organisational structure, training methods and planning procedures
                utilised by actual military forces. Every member will be proficiently trained, according to their rank,
                to follow standard operating procedures that are realistic, adjusted for ArmA III and have been reviewed
                by former military personnel.</p>

            <h3 class="text-center">Who are We?</h3>

            <p>Special Operations Command (SOCOMD) is an Australian based ArmA realism unit that is structured around
                the Commando Regiment of the Australian Defence Force. SOCOMD specialises largely in COOP, with the
                exception of some TvT, ArmA gameplay, utilising equipment, strategies and tactics based on those
                employed by the Australian Military.</p>

            <p>We pride ourselves on maintaining a fun, immersive and authentic ArmA gaming experience - yes,
                this means that good old fashioned Aussie banter is welcome, but when the bullets start flying, it's
                time to get our A-Game on.</p>

            <p>This is the unit for you if you want an immersive and authentic Australian ArmA gaming experience.</p>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>

    <div class="row section-2">
        <div class="col-sm-2 col-md-2"></div>
        <div id="serious" class="col-sm-8 col-md-8 section">
            <h2 class="text-center">How serious are you?</h2>

            <div id="subcol-1" class="col-sm-6 col-md-6">
                <p>SOCOMD is an Australian online digital combat unit that is based on the actual military structure and
                    ranking system of the ADF. We take pride in every aspect of our member selection, training, planning
                    and operations. At SOCOMD, our highest priority is ensuring that we, as a Unit, create vivid,
                    enjoyable
                    experiences for our members.</p>

                <p>SOCOMD emulates the structure of the Australian Defence Force and takes it very
                    seriously. The Rank Structure we employ assists us in identifying senior members
                    (Officers and NCOs) who are appropriately trained and qualified to take up certain roles such as a
                    Platoon Commander or a Section Commander in-game. The TeamSpeak appointments that they hold
                    demonstrate their assigned administrative roles within the unit's back end work.</p>

                <p>Just like in the real ADF, we need to follow orders in battle in order to accomplish the missions.
                    Without proper coordination between units, a campaign or mission can result in a catastrophic
                    failure.
                    It's important that we deploy in the right strength, with the right capabilities. To ensure we can
                    do that, we use established ORBATs, chains of command and common sense. We also use the rank system
                    to distinguish those members in administrative roles. Those members are vital to SOCOMD continue
                    success, they contribute in a wide range of areas from organising HR and recruitment, developing
                    websites and media or organising the mods that make our games so authentic.</p>

                <p>Realism is a big thing in SOCOMD and we strive to offer every member the sense of immersion
                    created bby using a modern combat environment, with all the structures and operating techniques
                    available, along with very strict and detailed Zeus doctrine to guide Zeus operators towards
                    realistic, exciting and yet sensible operations.</p>

                <p>During operations, every SOCOMD operator is expected to behave maturely, and "role play" as an ADF
                    soldier, using the skills and techniques that he learnt to work in a team based environment. He must
                    employ those skills during operations in order to perform with a sense of seriousness towards
                    immersion within our MILSIM unit.</p>

                <p>Community is one of our Core Values within SOCOMD. SOCOMD's HQ and Joint Staff Sections
                    have taken a liberal stance with the way the community is run. During Community Round Table
                    events, we listen to suggestions, whether those suggestions relate to new and
                    interesting developments that have potential application within SOCOMD, or even on how things can be
                    done better, every members opinion is valued. We will consider and decide all suggestions based on
                    operational requirements, back end work load for HQ JSS departments, client side feasibility, server
                    stress load, realism level, and compatibility with other mods.</p>

                <p>Regular "Community Round Table" events are held to ensure any member can have their voice heard, and
                    given enough support from their fellow community members, their ideas, wants or needs can help shape
                    SOCOMD into the unit it will be in the future. Every member is given a fair go at their turn in
                    order for them to voice their ideas and concerns, in the name of MILSIM and realism. HQ will
                    evaluate all suggestions based on our Mission Statement and if approved, a Joint Staff Section will
                    be assigned to the task and then gets further approved with their plan. Finally 2CDO CO/OC will then
                    implement the procedures.</p>
            </div>

            <div id="subcol-2" class="col-sm-6 col-md-6">
                <p>SOCOMD prides itself on being a "MILSIM unit", and that starts with training. Everything we do here
                    in SOCOMD is based on real life situations, that extends to recruitment, training and of course
                    includes our operations.</p>

                <p>If you are successful in joining us, we'll do everything we can to ensure that you are successful in
                    the unit. We'll train you, mentor you and give you opportunities to make a name for yourself. Some
                    of the things we train you in are as follows:</p>

                <ul>
                    <li>Basic Field Craft;</li>
                    <li>Advanced Weapons Course;</li>
                    <li>Advanced Close Quarter Battle Course;</li>
                    <li>Commando Urban Operations Course;</li>
                    <li>Commando Vehicle Course;</li>
                    <li>Commando Amphibious Operators Course;</li>
                    <li>Special Forces Demolitions Course;</li>
                    <li>Special Forces Basic Parachute Course;</li>
                    <li>Special Forces Military Roping Course; and</li>
                    <li>Combat First Aiders Course.</li>
                </ul>

                <p>Every trainee is expected to pass the basic training program. During the training
                    period, you can join our Unofficial Operations on Saturday and Sunday Nights, provided that you
                    have completed the Primary Part of our basic training program. Once you completes the Primary Part,
                    you will receive his "1CDO Unit Patch" and will be assigned to our 1st Commando Regiment.</p>

                <p>Upon completion of the entire basic training program, the trainee will be promoted to the rank of
                    Private. From there, you are combat ready, you can also attend
                    our Friday Night Official Operations. You can also complete subsequent promotional courses and
                    obtain higher ranks when positions become available.</p>

                <p>Our Official Operation on Friday night is the most important event for our unit. Every
                    member should make an effort to attend. The members
                    who are able to constantly attend these operations may be enrolled into our 2CDO Regiment, to
                    acknowledge that persistence and activity. For members who wish to advance further up the chain of
                    command, the more active and engaged in our community they are, the more visible they
                    are when promotion time comes. Active members will be placed into sections where they can
                    get familiar and comfortable with other operators within that section and operate together as a
                    fixed section on official operation nights. This helps achieve greater familiarity, flexibility and
                    preparedness. It also simulates a private being posted to a unit and
                    assigned to a section to work with his team mates all the time.</p>

                <p>Operation-wise, we use realistic and authentic ADF assets to the best of our abilities within Arma 3.
                    This is to again to promote realism and immersion. We stay away from items that obtain "over the
                    top" capabilities such as the CAS Greyhawk and AC-130 ground attack gunship, in order to maintain a
                    sense of strategic sustainability and tactical balance. We plan and operate missions such that they
                    are fun, believable and challenging. Before each mission starts, operators are given a command
                    briefing with all of the relevant details of that mission. After the completion of each operation,
                    we hold a debrief to gather feedback and improve for next time.</p>
            </div>


        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>

    <div class="row section-3">
        <div class="col-sm-2 col-md-2"></div>
        <div id="when" class="col-sm-8 col-md-8 section">
            <h2 class="text-center">When do you play?</h2>

            <div id="when-subcol-1" class="col-sm-6 col-md-6">
                <h3>Here's a breakdown of our week:</h3>

                <ul>
                    <ul style="padding-bottom: 5%"><p><b>Monday Night - Server Maintenance/Other Games.</b></p>
                        <li>Usually no activities, it is reserved for server and mod maintenance.</li>
                        <li>Depending on the availability of SOCOMD's Officers, training or operations can be held on
                            request.
                        </li>
                        <li>Members like to get on and play other games with each other.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Tuesday Night - Server Maintenance/Other Games.</b></p>
                        <li>Usually no activities, it is reserved for server and mod maintenance.</li>
                        <li>Depending on the availability of SOCOMD's Officers, training or operations can be held on
                            request.
                        </li>
                        <li>Members like to get on and play other games with each other.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Wednesday Night - Training Night</b></p>
                        <li>Beginning 8:00 PM (AEDT).</li>
                        <li>Concluding when training is complete.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Thursday Night - Training Night</b></p>
                        <li>Beginning 8:00 PM (AEDT).</li>
                        <li>Concluding when training is complete.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Friday Night - Official Operation - Deployment Campaign</b></p>
                        <li>Begins 9:00pm (AEDT). Be on teamspeak 15 miutes before start.</li>
                        <li>Concludes with a debrief.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Saturday Night - Unofficial Operations</b></p>
                        <li>Begins 9:00pm (AEDT). Be on teamspeak 15 miutes before start.</li>
                        <li>Concludes once you've had enough.</li>
                    </ul>
                    <ul style="padding-bottom: 5%"><p><b>Sunday Night - Unofficial Operations</b></p>
                        <li>Begins 9:00pm (AEDT). Be on teamspeak 15 miutes before start.</li>
                        <li>Concludes once you've had enough.</li>
                    </ul>
                </ul>
            </div>
            <div id="when-subcol-2" class="col-sm-6 col-md-6">
                <h3>What if I can't make the scheduled training or mission timees?</h3>

                <p>If you have the time, come and hang-out with us on TeamSpeak, there is usually always something
                    entertaining going on. If there's something in particular you would like to do, simply find someone
                    in the Commando Regiments with the rank of Lieutenant or above, or any of HQ J sections, or a member
                    of SOCOMD's Training Staff, and ask them to organise something, such as training or a mission.</p>
                <img src="img/When-do-u-play.jpg" style="padding-bottom: 5%">

                <p>It is important to note that all of our operations and training courses are scheduled through our
                    Steam Group Calendar to account for variations in time zones, so be sure to keep an eye on it to
                    know exactly when events are scheduled.</p>

                <div id="signup">
                    <h2 class="text-center">Sign Up</h2>

                    <div class="button-center">
                        <button type="button" class="btn btn-primary" data-toggle="button"
                                aria-pressed="false">Start Enlistment!
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>


</div>

<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>

</body>
</html>