<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOCOMD || Recruitment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="Alex Corkin: www.4lex.nz"/>
    <!-- css -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="css/flexslider.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>

    <style>
        circle {
            fill: rgb(31, 119, 180);
            fill-opacity: .25;
            stroke: rgb(31, 119, 180);
            stroke-width: 1px;
        }

        .leaf circle {
            fill: #ff7f0e;
            fill-opacity: 1;
        }

        text {
            font: 10px sans-serif;
        }
    </style>


    <!-- Theme skin -->
    <link href="skins/default.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
    <header>
        <div class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>S</span>OCOMD</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">About Us <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutUs#who">Who are we?</a></li>
                                <li><a href="aboutUs#serious">How Serious are we?</a></li>
                                <li><a href="aboutUs#when">When do we Play?</a></li>
                                <li><a href="recruitment#signup">How do I sign up?</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Unit Structure <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="unitStructure">Structure Overview</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure">SOCOMD HQ</a></li>
                                <li><a href="unitStructure">J1: Administration</a></li>
                                <li><a href="unitStructure">J2: Intelligence</a></li>
                                <li><a href="unitStructure">J3: Operations</a></li>
                                <li><a href="unitStructure">J4: Logistics</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure">2nd Commando Regiment</a></li>
                                <li><a href="unitStructure">171st Aviation Regiment</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure">Awards and Recognition</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Recruitment <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="recruitment">Application Form</a></li>
                                <li><a href="recruitment">Successful Applicatants </a></li>
                                <li><a href="recruitment">Probation and Behaviour</a></li>
                                <li><a href="recruitment">Reserves Regiment Policy</a></li>
                                <li><a href="recruitment">Contact Us</a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio">Media</a></li>
                        <li><a href="blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="row section-1">
        <div class="col-sm-2 col-md-2"></div>
        <div id="who" class="col-sm-8 col-md-8 section">
            <h1 class="text-center">Recruitment Center</h1>

            <img src="img/recruit.jpg" class="center">

            <h2 class="text-center">Joining the Unit</h2>

            <p>In real life, 1st and 2nd Commando Regiment operators are hand picked specialists. Here at SOCOMD, we
                strive to achieve the realism and immersion aspects of MILSIM in Arma 3, while mimicking the operational
                aspects of 1st and 2nd Commando Regiments, as well as their supporting elements.
                Therefore we need all members to be mature minded in order to join SOCOMD. A selection process is in
                place to ensure the quality of potential operators, that is the questionnaires in this initial
                application form and a formal interview afterwards, if successful.</p>

            <p><b>All applicants need to be at least 18 years of age to apply.</b> They also need to obtain the correct
                mindset to join our MILSIM group and be able to participate various training, operations and essentially
                role play as a special forces soldier in game using realistic tactics and procedures.
                We do appreciate any underage applicants’ genuine interest and their pursuit of MILSIM, and we look
                forward to their application once they reach our minimum age limit of 18 years old.
                Note: It is advised that all applicants are being honest and serious with their application’s
                information.</p>

            <p class="text-center"><b>Any deliberate misleading information in the application form will ultimately lead
                    to a
                    dishonourable discharge from SOCOMD and a possible ban of the applicant/member.</b></p>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>

    <div class="row section-2">
        <div class="col-sm-2 col-md-2"></div>
        <div id="who" class="col-sm-8 col-md-8 section">
            <img src="img/camp.jpg" class="center">

            <h2 class="text-center">What happens once I'm accepted?</h2>

            <h3>Congratulations!</h3>

            <p>We'll let you know within 48 hours of your application being accepted. We'll get in touch via email
                and give you details on servers, teamspeak, mod sets and training. We'll also let you know the next
                steps
                for you to get qualified and good to go for our next operation.</p>

            <p>Once you've jumped on to our team speak, a member of our HR Team (J1 Branch) will interview you. They
                will
                be trying to figure out if you have the traits needed to fit in with our current members. It's nothing
                extreme and usually is over in about fifteen to twenty minutes. Once J1 is happy, they will assign
                you the rank of Recruit.</p>

            <p>Once you're a recruit in rank, you'll start downloading our mod set and be given access to our steam
                group.
                We use the steam group to organise and schedule events and training.</p>

            <p>All members of SOCOMD need to qualify on different training programs. Recruits <b>must</b> complete
                a Commando Basic Training Course (CBTC) within four weeks of a successful application - CBTC ensures you
                can
                perform at a basic standard on the battlefield, more advanced training comes after that!</p>

            <h3>What types of courses will I do?</h3>

            <table class="table table-hover table-bordered table-condensed">
                <tr>
                    <td><b>Training Module</b></td>
                    <td><b>Course Name</b></td>
                    <td><b>Achievement Unlocked</b></td>
                </tr>
                <tr>
                    <td>Basic Training</td>
                    <td>Basic Service Knowledge</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Combat Medic Training</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Conventional Section Fighting</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Section Urban Operations Fighting</td>
                    <td><b>Operations Unlocked!</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Basic Vehicle Training</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Basic Airborne Training</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Basic Diver Training</td>
                    <td>Soldier Tier: 1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Signals</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Advanced Weapons Handling</td>
                    <td>Heavy Weapons</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Reconnaissance</td>
                    <td>Soldier Tier: 2</td>
                </tr>
                <tr>
                    <td>Command and Leadership</td>
                    <td>Section Commanders Course</td>
                    <td>Soldier Tier: 3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Platoon Sergeant Course</td>
                    <td>Soldier Tier: 4</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Company Sergeant Major Course</td>
                    <td>Soldier Tier: 5</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Platoon Commander Course</td>
                    <td>Soldier Tier: 6</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Company Commander Course</td>
                    <td>Soldier Tier: 7</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>

    <div class="row section-3">
        <div class="col-sm-2 col-md-2"></div>
        <div id="probation" class="col-sm-8 col-md-8 section">
            <img src="img/sunset.jpg" class="center">

            <h2 class="text-center">Probation and Expected Behaviour</h2>

            <div id="subcol-1" class="col-sm-6 col-md-6">
                <h3 class="text-centre">Probation</h3>

                <p>To ensure your transition into our unit is as smooth and enjoyable as possible, each new member
                    completes
                    a four week probation period. During this time, you will hold the rank of Recruit or Private,
                    depending on your completion of Basic Training. This is to allow more experienced members of the
                    unit to help you settle in. We've found that this is the best way of getting newbies up to
                    speed.</p>

                <p>The probation period of new members also ensures SOCOMD remains aligned with its mission statement
                    and
                    also helps us to ensure that nobody is dropped into a situation they haven't been trained for. Once
                    the
                    probation period expires, you will have learned enough to stand on your own, and alongside fellow
                    unit
                    members.</p>

                <p>There are no exceptions for probationary periods. Everyone has to start from the bottom, it ensures
                    that
                    all members know what it's like to be a recruit, and what a recruit needs to succeed in becoming a
                    full
                    member of the group.</p>
            </div>
            <div id="subcol-2" class="col-sm-6 col-md-6">
                <h3 class="text-centre">Expected Behaviour</h3>

                <p><b>Just be an adult – it’s really that simple!</b> The behaviour we expect from you is that you
                    listen,
                    take direction from our Officers and NCOs and embrace the same values we do. This is applicable
                    to
                    both new recruits and full members. We are all here to have a good time, but once we deploy it’s
                    time to put our game faces on and work in an authentic way, that fulfils our values, goals and
                    culture.
                    Members who don't share these values, may be asked to leave. Nobody enjoys that, but it happens,
                    it's
                    vital for our continued survival as a unit and as a culture</p>

                <p>We aren't after a mindless drone though, and we aren't a group of professional soldiers either,
                    we do
                    take feedback at the end of every mission, and if you have anything burning you want to say,
                    reach out
                    to someone. The key to getting through the probation period is as simply as listening to what
                    others
                    have to say, treating others with respect, and doing business the same way that we do.</p>

                <p>If you don't think you can follow these guidelines, if you don't feel like you share our values
                    and
                    cultures - we aren't the unit for you. We've discharged members before and we'll keep doing so
                    as needed
                    in the future. It makes nobody happy but it's necessary.</p>
            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>

<footer id="footer">
</footer>
<div id="subfooter">
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>