<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SOCOMD || Unit Structure</title>

    <style>

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }

        .node text {
            font: 12px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }

    </style>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="Alex Corkin: www.4lex.nz"/>
    <!-- css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="css/flexslider.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <!-- Theme skin -->
    <link href="skins/default.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

</head>
<body>

<div id="unitStructure-wrapper">

    <header>
        <div class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>S</span>OCOMD</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">About Us <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutUs#who">Who are we?</a></li>
                                <li><a href="aboutUs#serious">How Serious are we?</a></li>
                                <li><a href="aboutUs#when">When do we Play?</a></li>
                                <li><a href="recruitment#signup">How do I sign up?</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Unit Structure <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="unitStructure">Structure Overview</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure#HQ-Tree">SOCOMD HQ</a></li>
                                <li><a href="unitStructure#HQ-Tree">J1: Administration</a></li>
                                <li><a href="unitStructure#HQ-Tree">J2: Intelligence</a></li>
                                <li><a href="unitStructure#HQ-Tree">J3: Operations</a></li>
                                <li><a href="unitStructure#HQ-Tree">J4: Logistics</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure#CDO-Tree">2nd Commando Regiment</a></li>
                                <li><a href="unitStructure#AirTree">171st Aviation Regiment</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Recruitment <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="recruitment#joining">Joining the Unit</a></li>
                                <li><a href="recruitment#success">Successful Applicants</a></li>
                                <li><a href="recruitment#probation">Probation and Behaviour</a></li>
                                <li><a href="recruitment#form">Application Form</a></li>
                            </ul>
                        </li>
                        <li><a href="media">Media</a></li>
                        <li><a href="blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="row section-1">
        <div class="col-sm-2 col-md-2"></div>
        <div id="basicStructure" class="col-sm-8 col-md-8 section">
            <h1 class="text-center">Unit Structure</h1>

            <img src="img/SOCOMD-Orbat.PNG" class="center">

            <h2 class="text-center">SOCOMD ORBAT</h2>

            <p>SOCOMD is an Australian MILSIM Task Force divided into two separate Regiments and one detached Squadron;
                the 1st Commando Regiment, the 2nd Commando Regiment, and 171st Aviation Squadron (previously 5th
                Aviation Regiment) detached from Australia's 6th Aviation Regiment. The 2nd Commando Regiment is
                SOCOMD's main battle-force, and can be deployed at the Platoon Level, while being supported by the 171st
                Aviation Squadron. SOCOMD staff group resides under SOCOMD HQ , which governs the Task Force and
                consists of four Joint Staff Sections (JSS) J1 to J4. Community members in these departments actively
                contribute to SOCOMD through content generation, server administration, and various other tasks that
                keep SOCOMD operational from a technical perspective. The Task Force is directed by its Chief Commanding
                Officer (CCO) assisted by the Chief Executive Officer (CXO) and Senior Staff Officers (SSOs).</p>

            <div>
                <h2 class="text-center">Sub-Unit Orbats</h2>

                <h3 class="text-center">2 CDO REGT Orbat</h3>
                <img src="img/cdo_orbat.png" class="center section">

                <h3 class="text-center">171 SQN Orbat.</h3>
                <img src="img/171_orbat.png" class="center section">
            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>