<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SOCOMD || Unit Structure</title>

    <style>

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 3px;
        }

        .node text {
            font: 12px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
        }

    </style>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content="Alex Corkin: www.4lex.nz"/>
    <!-- css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="css/flexslider.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <!-- Theme skin -->
    <link href="skins/default.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

</head>
<body>

<div id="unitStructure-wrapper">

    <header>
        <div class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span>S</span>OCOMD</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">About Us <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutUs#who">Who are we?</a></li>
                                <li><a href="aboutUs#serious">How Serious are we?</a></li>
                                <li><a href="aboutUs#when">When do we Play?</a></li>
                                <li><a href="recruitment#signup">How do I sign up?</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Unit Structure <b
                                        class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="unitStructure">Structure Overview</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure#HQ-Tree">SOCOMD HQ</a></li>
                                <li><a href="unitStructure#HQ-Tree">J1: Administration</a></li>
                                <li><a href="unitStructure#HQ-Tree">J2: Intelligence</a></li>
                                <li><a href="unitStructure#HQ-Tree">J3: Operations</a></li>
                                <li><a href="unitStructure#HQ-Tree">J4: Logistics</a></li>
                                <li class="divider"></li>
                                <li><a href="unitStructure#CDO-Tree">2nd Commando Regiment</a></li>
                                <li><a href="unitStructure#AirTree">171st Aviation Regiment</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                               data-delay="0" data-close-others="false">Recruitment <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="recruitment#joining">Joining the Unit</a></li>
                                <li><a href="recruitment#success">Successful Applicants</a></li>
                                <li><a href="recruitment#probation">Probation and Behaviour</a></li>
                                <li><a href="recruitment#form">Application Form</a></li>
                            </ul>
                        </li>
                        <li><a href="media">Media</a></li>
                        <li><a href="blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="row section-1">
        <div class="col-sm-2 col-md-2"></div>
        <div id="basicStructure" class="col-sm-8 col-md-8 section">
            <h1 class="text-center">Unit Structure</h1>

            <img src="img/SOCOMD-Orbat.PNG" class="center">

            <h2 class="text-center">ORBAT</h2>

            <p>SOCOMD is an Australian MILSIM Task Force divided into two separate Regiments and one detached Squadron;
                the 1st Commando Regiment, the 2nd Commando Regiment, and 171st Aviation Squadron (previously 5th
                Aviation Regiment) detached from Australia's 6th Aviation Regiment. The 2nd Commando Regiment is
                SOCOMD's main battle-force, and can be deployed at the Platoon Level, while being supported by the 171st
                Aviation Squadron. SOCOMD staff group resides under SOCOMD HQ , which governs the Task Force and
                consists of four Joint Staff Sections (JSS) J1 to J4. Community members in these departments actively
                contribute to SOCOMD through content generation, server administration, and various other tasks that
                keep SOCOMD operational from a technical perspective. The Task Force is directed by its Chief Commanding
                Officer (CCO) assisted by the Chief Executive Officer (CXO) and Senior Staff Officers (SSOs).</p>

            <div>
                <h2 class="text-center">Command Appointments</h2>

                <div id="HQ-Tree"><h3 class="text-center section">SOCOMD HQ</h3></div>
                <div id="CDO-Tree"><h3 class="text-center section">2 CDO HQ</h3></div>
                <div id="AirTree"><h3 class="text-center section">171 SQN</h3></div>

                <script>

                    var HQTree = [
                        {
                            "name": "CO: BRIG Freeo",
                            "parent": "null",
                            "children": [
                                {
                                    "name": "SOCOMD HQ",
                                    "parent": "CO: BRIG Freeo",
                                    "children": [
                                        {
                                            "name": "J1",
                                            "parent": "XO: COL Watudube",
                                            "children": [
                                                {
                                                    "name": "J1 SSO: CAPT Shorty",
                                                    "parent": "J1",
                                                    "children": [
                                                        {
                                                            "name": "DSO: Vacant",
                                                            "parent": "J1 SSO: CAPT Shorty",
                                                            "children": [
                                                                {
                                                                    "name": "J1 Staff: Vacant",
                                                                    "parent": "DSO: Vacant"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "name": "J2",
                                            "parent": "XO: COL Watudube",
                                            "children": [
                                                {
                                                    "name": "J2 SSO: COL Watudube",
                                                    "parent": "J2",
                                                    "children": [
                                                        {
                                                            "name": "DSO: Vacant",
                                                            "parent": "J2 SSO: COL Watudube",
                                                            "children": [
                                                                {
                                                                    "name": "J2 Staff: Vacant",
                                                                    "parent": "DSO: Vacant"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "name": "J3",
                                            "parent": "XO: COL Watudube",
                                            "children": [
                                                {
                                                    "name": "J3 SSO: COL Watudube",
                                                    "parent": "J3",
                                                    "children": [
                                                        {
                                                            "name": "DSO: Vacant",
                                                            "parent": "J3 SSO: COL Watudube",
                                                            "children": [
                                                                {
                                                                    "name": "J3 Staff: Vacant",
                                                                    "parent": "DSO: Vacant"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "name": "J4",
                                            "parent": "XO: COL Watudube",
                                            "children": [
                                                {
                                                    "name": "J4 SSO: CAPT Red Horizon",
                                                    "parent": "J4",
                                                    "children": [
                                                        {
                                                            "name": "DSO: LT Chain",
                                                            "parent": "J4 SSO: CAPT Red Horizon",
                                                            "children": [
                                                                {
                                                                    "name": "J4 Staff: SGT Seth",
                                                                    "parent": "DSO: LT Chain"
                                                                },
                                                                {
                                                                    "name": "J4 Staff: CPL Btodan",
                                                                    "parent": "DSO: LT Chain"
                                                                },
                                                                {
                                                                    "name": "J4 Staff: LCPL HAIL",
                                                                    "parent": "DSO: LT Chain"
                                                                },
                                                                {
                                                                    "name": "J4 Staff: LCPL Alex",
                                                                    "parent": "DSO: LT Chain"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "name": "XO: COL Watudube",
                                    "parent": "CO: BRIG Freeo",
                                    "children": []
                                }
                            ]
                        }
                    ];

                    // ************** Generate the tree diagram	 *****************
                    var margin = {top: 30, right: 20, bottom: 30, left: 0},
                            width = 1500 - margin.left - margin.right,
                            height = 1500 - margin.top - margin.bottom;

                    var i = 0,
                            duration = 750,
                            root;

                    var tree = d3.layout.tree()
                            .size([height, width]);

                    var diagonal = d3.svg.diagonal()
                            .projection(function (d) {
                                return [d.x, d.y];
                            });

                    var svg = d3.select("#HQ-Tree").append("svg")
                            .attr("width", width + margin.left + margin.right)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                        root = HQTree[0];
                        root.x0 = 0;
                        root.y0 = 0;
                        update(root);



                    update(root);

                    d3.select(self.frameElement).style("height", "500px");

                    function update(source) {

                        // Compute the new tree layout.
                        var nodes = tree.nodes(root).reverse(),
                                links = tree.links(nodes);

                        // Normalize for fixed-depth.
                        nodes.forEach(function (d) {
                            d.y = d.depth * 100;
                        });

                        // Update the nodes…
                        var node = svg.selectAll("g.node")
                                .data(nodes, function (d) {
                                    return d.id || (d.id = ++i);
                                });

                        // Enter any new nodes at the parent's previous position.
                        var nodeEnter = node.enter().append("g")
                                .attr("class", "node")
                                .attr("transform", function (d) {
                                    return "translate(" + source.x0 + "," + source.y0 + ")";
                                })
                                .on("click", click);

                        nodeEnter.append("circle")
                                .attr("r", 1e-6)
                                .style("fill", function (d) {
                                    return d._children ? "lightsteelblue" : "#fff";
                                });

                        nodeEnter.append("text")
                                .attr("y", function (d) {
                                    return d.children || d._children ? -18 : 18;
                                })
                                .attr("dy", ".35em")
                                .attr("text-anchor", "middle")
                                .text(function (d) {
                                    return d.name;
                                })
                                .style("fill-opacity", 1);

                        // Transition nodes to their new position.
                        var nodeUpdate = node.transition()
                                .duration(duration)
                                .attr("transform", function (d) {
                                    return "translate(" + d.x + "," + d.y + ")";
                                });

                        nodeUpdate.select("circle")
                                .attr("r", 10)
                                .style("fill", function (d) {
                                    return d._children ? "lightsteelblue" : "#fff";
                                });

                        nodeUpdate.select("text")
                                .style("fill-opacity", 1);

                        // Transition exiting nodes to the parent's new position.
                        var nodeExit = node.exit().transition()
                                .duration(duration)
                                .attr("transform", function (d) {
                                    return "translate(" + source.x + "," + source.y + ")";
                                })
                                .remove();

                        nodeExit.select("circle")
                                .attr("r", 1e-6);

                        nodeExit.select("text")
                                .style("fill-opacity", 1e-6);

                        // Update the links…
                        var link = svg.selectAll("path.link")
                                .data(links, function (d) {
                                    return d.target.id;
                                });

                        // Enter any new links at the parent's previous position.
                        link.enter().insert("path", "g")
                                .attr("class", "link")
                                .attr("d", function (d) {
                                    var o = {x: source.x0, y: source.y0};
                                    return diagonal({source: o, target: o});
                                });

                        // Transition links to their new position.
                        link.transition()
                                .duration(duration)
                                .attr("d", diagonal);

                        // Transition exiting nodes to the parent's new position.
                        link.exit().transition()
                                .duration(duration)
                                .attr("d", function (d) {
                                    var o = {x: source.x, y: source.y};
                                    return diagonal({source: o, target: o});
                                })
                                .remove();

                        // Stash the old positions for transition.
                        nodes.forEach(function (d) {
                            d.x0 = d.x;
                            d.y0 = d.y;
                        });
                    }

                    // Toggle children on click.
                    function click(d) {
                        if (d.children) {
                            d._children = d.children;
                            d.children = null;
                        } else {
                            d.children = d._children;
                            d._children = null;
                        }
                        update(d);
                    }
                </script>

                <script>
                    var CDOTree = [
                        {
                            "name": "CO: BRIG Freeo",
                            "parent": "null",
                            "children": [
                                {
                                    "name": "2 CDO",
                                    "parent": "CO: BRIG Freeo",
                                    "children": [
                                        {
                                            "name": "2 CDO HQ",
                                            "parent": "2 CDO",
                                            "children": [
                                                {
                                                    "name": "2CDO CO",
                                                    "parent": "2 CDO HQ",
                                                    "children": [
                                                        {
                                                            "name": "2 CDO XO",
                                                            "parent": "2CDO CO"
                                                        },
                                                        {
                                                            "name": "2 CDO RSM",
                                                            "parent": "2CDO CO"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "name": "A COY",
                                            "parent": "XO: COL Watudube",
                                            "children": [
                                                {
                                                    "name": "1 PL",
                                                    "parent": "A COY",
                                                    "children": [
                                                        {
                                                            "name": "1 PL HQ",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "1 PLT COMD",
                                                                    "parent": "1 PL HQ",
                                                                    "children": [
                                                                        {
                                                                            "name": "1 PLT SGT",
                                                                            "parent": "1 PLT COMD"
                                                                        },
                                                                        {
                                                                            "name": "PL SIG",
                                                                            "parent": "1 PLT COMD"
                                                                        },
                                                                        {
                                                                            "name": "PL MEDIC",
                                                                            "parent": "1 PLT COMD"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "1 SEC",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "1 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "2 SEC",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "2 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "3 SEC",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "3 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "2 PL",
                                                    "parent": "A COY",
                                                    "children": [
                                                        {
                                                            "name": "2 PL HQ",
                                                            "parent": "2 PL",
                                                            "children": [
                                                                {
                                                                    "name": "J2 Staff: Vacant",
                                                                    "parent": "DSO: Vacant"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "1 SEC",
                                                            "parent": "2 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "1 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "2 SEC",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "2 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "3 SEC",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "3 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "3 PL",
                                                    "parent": "A COY",
                                                    "children": [
                                                        {
                                                            "name": "3 PL HQ",
                                                            "parent": "3 PL",
                                                            "children": [
                                                                {
                                                                    "name": "J2 Staff: Vacant",
                                                                    "parent": "DSO: Vacant"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "1 SEC",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "1 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "2 SEC",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "2 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "name": "3 SEC",
                                                            "parent": "1 PL",
                                                            "children": [
                                                                {
                                                                    "name": "SEC COMD",
                                                                    "parent": "3 SEC",
                                                                    "children": [
                                                                        {
                                                                            "name": "SEC 2IC",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "SAPPER",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "LIGHT AT MKSMN",
                                                                            "parent": "SEC COMD"
                                                                        },
                                                                        {
                                                                            "name": "Medic",
                                                                            "parent": "AUTO RFN"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "SPT SEC",
                                                    "parent": "A COY",
                                                    "children": [
                                                        {
                                                            "name": "SPT SEC COMD",
                                                            "parent": "SPT SEC",
                                                            "children": [
                                                                {
                                                                    "name": "HVY WPN SPEC",
                                                                    "parent": "SPT SEC COMD"
                                                                },
                                                                {
                                                                    "name": "HVY WPN ASST",
                                                                    "parent": "SPT SEC COMD"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "name": "RECON SEC",
                                                    "parent": "A COY",
                                                    "children": [
                                                        {
                                                            "name": "OBSERVER",
                                                            "parent": "RECON SEC",
                                                            "children": [
                                                                {
                                                                    "name": "SNIPER",
                                                                    "parent": "OBSERVER"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "name": "XO: COL Watudube",
                                    "parent": "CO: BRIG Freeo",
                                }
                            ]
                        }
                    ];

                    // ************** Generate the tree diagram	 *****************
                    var margin = {top: 30, right: 20, bottom: 30, left: 0},
                            width = 1500 - margin.left - margin.right,
                            height = 1500 - margin.top - margin.bottom;

                    var i = 0,
                            duration = 750,
                            root;

                    var tree = d3.layout.tree()
                            .size([height, width]);

                    var diagonal = d3.svg.diagonal()
                            .projection(function (d) {
                                return [d.x, d.y];
                            });

                    var svg = d3.select("#CDO-Tree").append("svg")
                            .attr("width", width + margin.left + margin.right)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    root = CDOTree[0];
                    root.x0 = 0;
                    root.y0 = 0;
                    update(root);



                    update(root);

                    d3.select(self.frameElement).style("height", "500px");

                    function update(source) {

                        // Compute the new tree layout.
                        var nodes = tree.nodes(root).reverse(),
                                links = tree.links(nodes);

                        // Normalize for fixed-depth.
                        nodes.forEach(function (d) {
                            d.y = d.depth * 100;
                        });

                        // Update the nodes…
                        var node = svg.selectAll("g.node")
                                .data(nodes, function (d) {
                                    return d.id || (d.id = ++i);
                                });

                        // Enter any new nodes at the parent's previous position.
                        var nodeEnter = node.enter().append("g")
                                .attr("class", "node")
                                .attr("transform", function (d) {
                                    return "translate(" + source.x0 + "," + source.y0 + ")";
                                })
                                .on("click", click);

                        nodeEnter.append("circle")
                                .attr("r", 1e-6)
                                .style("fill", function (d) {
                                    return d._children ? "lightsteelblue" : "#fff";
                                });

                        nodeEnter.append("text")
                                .attr("y", function (d) {
                                    return d.children || d._children ? -18 : 18;
                                })
                                .attr("dy", ".35em")
                                .attr("text-anchor", "middle")
                                .text(function (d) {
                                    return d.name;
                                })
                                .style("fill-opacity", 1);

                        // Transition nodes to their new position.
                        var nodeUpdate = node.transition()
                                .duration(duration)
                                .attr("transform", function (d) {
                                    return "translate(" + d.x + "," + d.y + ")";
                                });

                        nodeUpdate.select("circle")
                                .attr("r", 10)
                                .style("fill", function (d) {
                                    return d._children ? "lightsteelblue" : "#fff";
                                });

                        nodeUpdate.select("text")
                                .style("fill-opacity", 1);

                        // Transition exiting nodes to the parent's new position.
                        var nodeExit = node.exit().transition()
                                .duration(duration)
                                .attr("transform", function (d) {
                                    return "translate(" + source.x + "," + source.y + ")";
                                })
                                .remove();

                        nodeExit.select("circle")
                                .attr("r", 1e-6);

                        nodeExit.select("text")
                                .style("fill-opacity", 1e-6);

                        // Update the links…
                        var link = svg.selectAll("path.link")
                                .data(links, function (d) {
                                    return d.target.id;
                                });

                        // Enter any new links at the parent's previous position.
                        link.enter().insert("path", "g")
                                .attr("class", "link")
                                .attr("d", function (d) {
                                    var o = {x: source.x0, y: source.y0};
                                    return diagonal({source: o, target: o});
                                });

                        // Transition links to their new position.
                        link.transition()
                                .duration(duration)
                                .attr("d", diagonal);

                        // Transition exiting nodes to the parent's new position.
                        link.exit().transition()
                                .duration(duration)
                                .attr("d", function (d) {
                                    var o = {x: source.x, y: source.y};
                                    return diagonal({source: o, target: o});
                                })
                                .remove();

                        // Stash the old positions for transition.
                        nodes.forEach(function (d) {
                            d.x0 = d.x;
                            d.y0 = d.y;
                        });
                    }

                    // Toggle children on click.
                    function click(d) {
                        if (d.children) {
                            d._children = d.children;
                            d.children = null;
                        } else {
                            d.children = d._children;
                            d._children = null;
                        }
                        update(d);
                    }
                </script>

                <script>

                    var AirTree = [
                        {
                            "name": "CO: BRIG Freeo",
                            "parent": "null",
                            "children": [
                                {
                                    "name": "171 SQN",
                                    "parent": "CO: BRIG Freeo",
                                    "children": [
                                        {
                                            "name": "SQN HQ",
                                            "parent": "171 SQN",
                                            "children": [
                                                {
                                                    "name": "RW SQN CO",
                                                    "parent": "SQN HQ"
                                                },
                                                {
                                                    "name": "RW SQN XO",
                                                    "parent": "SQN HQ"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "1 FLT",
                                            "parent": "171 SQN",
                                            "children": [
                                                {
                                                    "name": "MH-9 HUMMINGBIRD",
                                                    "parent": "171 SQN"
                                                },
                                                {
                                                    "name": "AH-9 PAWNEE",
                                                    "parent": "171 SQN"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "2 FLT",
                                            "parent": "171 SQN",
                                            "children": [
                                                {
                                                    "name": "UH-60M BLACKHAWK",
                                                    "parent": "171 SQN"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "3 FLT",
                                            "parent": "171 SQN",
                                            "children": [
                                                {
                                                    "name": "CH47F CHINOOK",
                                                    "parent": "171 SQN"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "4 FLT",
                                            "parent": "171 SQN",
                                            "children": [
                                                {
                                                    "name": "AH64 APACHE",
                                                    "parent": "171 SQN"
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "name": "XO: COL Watudube",
                                    "parent": "CO: BRIG Freeo",
                                    "children": []
                                }
                            ]
                        }
                    ];

                    // ************** Generate the tree diagram	 *****************
                    var margin = {top: 30, right: 20, bottom: 30, left: 0},
                            width = 1500 - margin.left - margin.right,
                            height = 1500 - margin.top - margin.bottom;

                    var i = 0,
                            duration = 750,
                            root;

                    var tree = d3.layout.tree()
                            .size([height, width]);

                    var diagonal = d3.svg.diagonal()
                            .projection(function (d) {
                                return [d.x, d.y];
                            });

                    var svg = d3.select("#AirTree").append("svg")
                            .attr("width", width + margin.left + margin.right)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    root = AirTree[0];
                    root.x0 = 0;
                    root.y0 = 0;
                    update(root);



                    update(root);

                    d3.select(self.frameElement).style("height", "500px");

                    function update(source) {

                        // Compute the new tree layout.
                        var nodes = tree.nodes(root).reverse(),
                                links = tree.links(nodes);

                        // Normalize for fixed-depth.
                        nodes.forEach(function (d) {
                            d.y = d.depth * 100;
                        });

                        // Update the nodes…
                        var node = svg.selectAll("g.node")
                                .data(nodes, function (d) {
                                    return d.id || (d.id = ++i);
                                });

                        // Enter any new nodes at the parent's previous position.
                        var nodeEnter = node.enter().append("g")
                                .attr("class", "node")
                                .attr("transform", function (d) {
                                    return "translate(" + source.x0 + "," + source.y0 + ")";
                                })
                                .on("click", click);

                        nodeEnter.append("circle")
                                .attr("r", 1e-6)
                                .style("fill", function (d) {
                                    return d._children ? "lightsteelblue" : "#fff";
                                });

                        nodeEnter.append("text")
                                .attr("y", function (d) {
                                    return d.children || d._children ? -18 : 18;
                                })
                                .attr("dy", ".35em")
                                .attr("text-anchor", "middle")
                                .text(function (d) {
                                    return d.name;
                                })
                                .style("fill-opacity", 1);

                        // Transition nodes to their new position.
                        var nodeUpdate = node.transition()
                                .duration(duration)
                                .attr("transform", function (d) {
                                    return "translate(" + d.x + "," + d.y + ")";
                                });

                        nodeUpdate.select("circle")
                                .attr("r", 10)
                                .style("fill", function (d) {
                                    return d._children ? "lightsteelblue" : "#fff";
                                });

                        nodeUpdate.select("text")
                                .style("fill-opacity", 1);

                        // Transition exiting nodes to the parent's new position.
                        var nodeExit = node.exit().transition()
                                .duration(duration)
                                .attr("transform", function (d) {
                                    return "translate(" + source.x + "," + source.y + ")";
                                })
                                .remove();

                        nodeExit.select("circle")
                                .attr("r", 1e-6);

                        nodeExit.select("text")
                                .style("fill-opacity", 1e-6);

                        // Update the links…
                        var link = svg.selectAll("path.link")
                                .data(links, function (d) {
                                    return d.target.id;
                                });

                        // Enter any new links at the parent's previous position.
                        link.enter().insert("path", "g")
                                .attr("class", "link")
                                .attr("d", function (d) {
                                    var o = {x: source.x0, y: source.y0};
                                    return diagonal({source: o, target: o});
                                });

                        // Transition links to their new position.
                        link.transition()
                                .duration(duration)
                                .attr("d", diagonal);

                        // Transition exiting nodes to the parent's new position.
                        link.exit().transition()
                                .duration(duration)
                                .attr("d", function (d) {
                                    var o = {x: source.x, y: source.y};
                                    return diagonal({source: o, target: o});
                                })
                                .remove();

                        // Stash the old positions for transition.
                        nodes.forEach(function (d) {
                            d.x0 = d.x;
                            d.y0 = d.y;
                        });
                    }

                    // Toggle children on click.
                    function click(d) {
                        if (d.children) {
                            d._children = d.children;
                            d.children = null;
                        } else {
                            d.children = d._children;
                            d._children = null;
                        }
                        update(d);
                    }
                </script>

            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>